{{>header}}

<h3 class="heading-primary"> Contact Us </h3>


<div class="form">
  <form action="/contact" method="POST">
   <div class="form-group">
    <label for="firstname">Your Name</label>
    <input type="firstname" class="form-control" id="firstname" placeholder="Enter your name" name="firstname">
  </div>   
  <div class="form-group">
    <label for="exampleInputEmail1">Email Address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="email">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Phone Number</label>
    <input type="text" minlength="10" maxlength="10" class="form-control" id="examplephone" placeholder="Enter phone number" name="number">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>

<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3586.505374977465!2d82.57090691450068!3d25.9842575056956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399043e7e5b2c43d%3A0x6a09aeae9f0d8222!2sAshok%20dental%20clinic!5e0!3m2!1sen!2sin!4v1607529910010!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>


{{>footer}}