

 {{>header}}   
  <div class="contentHeight">
     
     <section class="gallery">
        <figure class="gallery__item gallery__item--1"> <a href="img/gal-1.jpeg" data-lightbox="mygallery"><img src="img/gal-1.jpeg" alt="Gallery image 1" class="gallery__img"></a> </figure>
        <figure class="gallery__item gallery__item--2"> <a href="img/gal-4.jpeg" data-lightbox="mygallery"><img src="img/gal-4.jpeg" alt="Gallery image 2" class="gallery__img"></a></figure>
        <figure class="gallery__item gallery__item--3"> <a href="img/gal-3.jpeg" data-lightbox="mygallery"><img src="img/gal-3.jpeg" alt="Gallery image 3" class="gallery__img"></a></figure>
        <figure class="gallery__item gallery__item--4"> <a href="img/gal-2.jpeg" data-lightbox="mygallery"><img src="img/gal-2.jpeg" alt="Gallery image 4" class="gallery__img"></a></figure>
        <figure class="gallery__item gallery__item--5"> <a href="img/gal-5.jpeg" data-lightbox="mygallery"><img src="img/gal-5.jpeg" alt="Gallery image 5" class="gallery__img"></a></figure>
        <figure class="gallery__item gallery__item--6"> <a href="img/gal-6.jpeg" data-lightbox="mygallery"><img src="img/gal-6.jpeg" alt="Gallery image 6" class="gallery__img"></a></figure>
         </section>  
  </div>  
     
     
   
         {{>footer}}
   
