
    
{{>header}}

    <section class="image">
        {{!-- <div class="image_slide"></div> --}}
        <!-- <img src="img/main_img1.jpeg" alt="main" class="image_1"> -->

       

        <!-- Slider main container -->
        <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide image_slide1"></div>
            <div class="swiper-slide image_slide2"></div>
            <div class="swiper-slide image_slide3"></div>
            <div class="swiper-slide image_slide4"></div>
            
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
        </div>


    </section>

    <section class="team">
        <h2 class="team_heading heading-2">Our Team</h2>

        <div class="team_list">
            <div class="team_details">
                <h1 class="team_list_header_2">DR. R. S. Vishwakarma</h1>  
                <p class="team_list_desc">B.D.S.</p>            
                <p class="team_list_desc">Implantologist, Oral and Dental Surgeon</p>            
            </div>
            <div class="team_details">
                <h1 class="team_list_header_2">DR.  Divyam Vishwakarma</h1>  
                <p class="team_list_desc">Dental Hygienist</p>            
                         
            </div>
            <div class="team_details">
                <h1 class="team_list_header_2">Ashok kumar Vishwakarma</h1>  
                <p class="team_list_desc">Pharmassist</p>                    
            </div>

        </div>
    </section>

    <script>
        const swiper = new Swiper('.swiper-container', {
  // Optional parameters
  //direction: 'vertical',
  loop: true,
   speed: 600, 
   autoplay: {
    delay: 2500,
  },
 effect: 'fade',
  fadeEffect: {
    crossFade: true
  },
  
  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});
    </script>

    {{>footer}}
