<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/lightbox.min.css">
    <script src="js/lightbox-plus-jquery.min.js"></script>
    <link rel="shortcut icon" href="img/tooth.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
    <title>Ashok Dental Clinic</title>
</head>
<body>

    
{{>header}}

    <section class="image">
        <div class="image_slide"></div>
        <!-- <img src="img/main_img1.jpeg" alt="main" class="image_1"> -->
    </section>

    <section class="team">
        <h2 class="team_heading heading-2">Our Team</h2>

        <div class="team_list">
            <div class="team_details">
                <h1 class="team_list_header_2">DR. R. S. Vishwakarma</h1>  
                <p class="team_list_desc">B.D.S.</p>            
                <p class="team_list_desc">Implantologist, Oral and Dental Surgeon</p>            
            </div>
            <div class="team_details">
                <h1 class="team_list_header_2">DR.  Divyam Vishwakarma</h1>  
                <p class="team_list_desc">Dental Hygienist</p>            
                         
            </div>
            <div class="team_details">
                <h1 class="team_list_header_2">Ashok kumar Vishwakarma</h1>  
                <p class="team_list_desc">Pharmassist</p>                    
            </div>

        </div>
    </section>


    {{>footer}}

</body>
</html>