<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/tooth.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
    <title>Ashok Dental Clinic</title>
</head>
<body>
   
   {{>header}}

    <section class="services">
        <div class="service">
            <div class="service_details">ORTHODONTICS</div>
        </div>
        <div class="service">
            <div class="service_details">ORAL SURGERY</div>
        </div>
        <div class="service">
            <div class="service_details">ENDODONTICS</div>
        </div>
        <div class="service">
            <div class="service_details">PERODONTICS</div>
        </div>
        <div class="service">
            <div class="service_details">IMPLANTS</div>
        </div>
        <div class="service">
            <div class="service_details">CONSERVATIVE DENTISTRY</div>
        </div>
        <div class="service">
            <div class="service_details">PROSTHODONTICS</div>
        </div>
    </section>

    {{>footer}}


</body>
</html>