   
   {{>header}}

    <section class="services">
        <div class="service">
        {{!-- <a href="./services/orthodontics"> <div class="service_details">ORTHODONTICS</div> </a>     --}}
        <div class="service_details">ORTHODONTICS</div>
        </div>
        <div class="service">
            <div class="service_details">ORAL SURGERY</div>
        </div>
        <div class="service">
            <div class="service_details">ENDODONTICS</div>
        </div>
        <div class="service">
            <div class="service_details">PERODONTICS</div>
        </div>
        <div class="service">
            <div class="service_details">IMPLANTS</div>
        </div>
        <div class="service">
            <div class="service_details">CONSERVATIVE DENTISTRY</div>
        </div>
        <div class="service">
            <div class="service_details">PROSTHODONTICS</div>
        </div>
    </section>

    {{>footer}}

