   
   {{>header}}

    <section class="services">
        <div class="service">
        <a href="./services/orthodontics"> <div class="service_details">ORTHODONTICS</div> </a>    
        {{!-- <div class="service_details">ORTHODONTICS</div> --}}
        </div>
        <div class="service">
            <a href="./services/oral-surgery"> <div class="service_details">ORAL SURGERY</div> </a>    
            {{!-- <div class="service_details">ORAL SURGERY</div> --}}
        </div>
        <div class="service">
              <a href="./services/endodontics"> <div class="service_details">ENDODONTICS</div> </a> 
            {{!-- <div class="service_details">ENDODONTICS</div> --}}
        </div>
        <div class="service">
              <a href="./services/perodontics"> <div class="service_details">PERODONTICS</div> </a> 
            {{!-- <div class="service_details">PERODONTICS</div> --}}
        </div>
        <div class="service">
              <a href="./services/implants"> <div class="service_details">IMPLANTS</div> </a> 
            {{!-- <div class="service_details">IMPLANTS</div> --}}
        </div>
        <div class="service">
              <a href="./services/conservative-denstiry"> <div class="service_details">CONSERVATIVE DENTISTRY</div> </a> 
            {{!-- <div class="service_details">CONSERVATIVE DENTISTRY</div> --}}
        </div>
        <div class="service">
            <a href="./services/prosthodontics"> <div class="service_details">PROSTHODONTICS</div> </a> 
            {{!-- <div class="service_details">PROSTHODONTICS</div> --}}
        </div>
    </section>

    {{>footer}}

