$color-primary: #00a4ef;
$color-secondary: #f9f9f9;
$color-white: #fff;

$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


//RESPONSIVE BREAK POINTS
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html{
     font-size: 62.5%;
    //  height: 100%;
     @media only screen and (max-width: $bp-large){
         font-size: 50%;
     }
 }

body{
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.welcome_note{
    text-align: center;
    background-color: $color-primary;
    
    &_heading{
        color: $color-white;
        font-family: $font-display;
    }
}

.header{
    font-size: 1.4rem;
    background-color: $color-secondary;
    padding: 2rem 8rem;
    color: #666666;
    

    @media only screen and (max-width: $bp-small){
        font-size: 1rem;
        padding: 1rem;
    }
  

    &_icon{
        height: 3rem;
        width: 3rem;
        fill: #666666;
    }
   
    &_details{
        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp-small){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &_4{
        font-weight: bold;
        font-size: 1.7rem;
        font-family: $font-display;

        @media only screen and (max-width: $bp-small){
            font-size: 1.3rem;
        }
    }

    &_discription{
        padding: 1rem;
        @media only screen and (max-width: $bp-small){
          text-align: center;
        }  
    }

    &_desc{
        font-weight: 550;
       
    }

    &_list{
        display: flex;
        justify-content: space-between;

        
    } 
}

.main{
    display: flex;
    justify-content: space-between;
    padding: 2rem 8rem;
    font-size: 1.4rem;

   @media only screen and (max-width: $bp-small){
        display: inline;
        padding: 4px;
        margin-bottom: 1.8rem;
   }
    
    &_heading{
         color:$color-primary;
        
         @media only screen and (max-width: $bp-small){
            display: flex;
            justify-content: center;
            
            padding: 0.6rem;
            margin-top: 2rem;
          }

        &-2{
            font-size: 2.2rem;
            font-family: $font-display;
            // background-image: linear-gradient(to right, #a7ddf7, #00a4ef);

            @media only screen and (max-width: $bp-small){
                font-size: 1.8rem;
            }
        }
    }
    &_address{
        font-size: 1.2rem;
        @media only screen and (max-width: $bp-small){
            font-size: 1.1rem;

            display: flex;
            align-self: center;
            padding-left: 2rem;
        }
    }

    &_nav{
        display: flex;
        font-size: 1.8rem;
        padding: 2px;

        @media only screen and (max-width: $bp-small){
            font-size: 1.4rem;
            justify-content: center;
        }

        &_link{
            color: #666666;
            text-decoration: none;

            &:active{
                color: $color-primary;
                text-decoration: none;
            }
        }
        &_item{
            padding: 1rem;
            list-style: none;
            text-decoration: none;
            color: #666666;
            

            &:hover{
                border-bottom: 3px solid $color-primary;
                color: $color-white;               
            }
        }

    }
}



.image{
    display: flex;
    justify-content: center;
    // padding: 2rem 8rem;
   
    &_slide{
        background-image: url('../img/main_img1.jpeg');
        background-size: 100% 100%;
        width: 80%;
        height: 70rem;
        animation: slider 10s infinite; 


        @media only screen and (max-width: $bp-medium){
            height: 50rem;
            background-size: 100% 100%;
        }
        @media only screen and (max-width: $bp-small){
            height: 30rem;
            width: 100%;
        }

        
    }

    @media only screen and (max-width: $bp-small){
        padding: 0;
    }

    &_1{
        width: 100%
    }
}

@keyframes slider {
    0%{background-image: url('../img/main_img1.jpeg');}
    42%{background-image: url('../img/main_img2.jpeg');}
    84%{background-image: url('../img/main_img3.jpeg');}
}

.team{
    font-size: 1.4rem;
    padding: 5rem 8rem;
    
    @media only screen and (max-width: $bp-small){
        display: flex;
        flex-direction: column;      
        align-items: center;
    }

    &_details{
        padding: 2rem;
    }

    &_heading{
        text-align: center;
        font-family: $font-display;
        color: #666666;
        font-size: 3rem;
    }

    &_list{
        // display: flex;
        // justify-content: space-evenly;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        margin-top: 2rem;
        justify-items: center;

        @media only screen and (max-width: $bp-small){
            display: flex;
            flex-direction: column;      
        }

    
        &_header_2{
            font-size: 2.2rem;
            color: $color-primary;
            font-family: $font-display;

            @media only screen and (max-width: $bp-medium){
                font-size: 1.8rem;
            }
        }
        &_desc{
            color: #666666;
            font-size: 1.3rem;
            
            @media only screen and (max-width: $bp-medium){
                font-size: 1rem;
            }
        }
    }
}

.footer{
    background-color: #3a3a3a;
    padding: 3rem;
    margin-top: auto;

    &_list{
        display: flex;
        justify-content: space-evenly;
    }
    &_details{
        color: $color-white;
    }
    &_nav{
        display: flex;
        font-size: 1.7rem;
        justify-content: space-evenly;
        padding: 4rem;
        

        &_item{
            padding: 1rem;
            list-style: none;
            
        }
        &_link{
            color: $color-white;
        }
    }
}

.copyright{
    text-align: center;
    color: $color-white;
    margin-top: 4rem;
    font-size: 1.4rem;
}


////////////////////////////SERVICES CSS ///////////////////////////////////////////////////@at-root

.services{
    margin: 1rem 8rem 10rem 10rem;

    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   grid-gap: 6rem;
   align-items: start;
}

.service{
    font-size: 2rem;
    background-color: $color-primary;
    text-align: center;
    color: $color-white;
    padding: 1.5rem 0;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 0.5rem;
}

.service:hover{
    transform: translateY(-0.5rem);
}

//////////////////////////////GALLERY///////////////////////////////////////

.gallery{
    display: grid;
    /*grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);*/
    grid-template: repeat(7, 5vw) / repeat(8, 1fr);


    grid-gap: 1.5rem;
    padding: 1rem 10rem 10rem;
    
    @media only screen and (max-width: $bp-small){
        padding: 0;
        padding-bottom: 7rem;
    }


&__item {
    transition: .5s all;
    outline: 5px solid #fff;
    overflow: none;
    cursor: pointer;

    &--1 {
        grid-row: 1 / span 4;
        grid-column: 1 / span 2;
    }

    &--2 {
        grid-row: 1 / span 4;
        grid-column: 3 / span 4;
    }

    &--3 {
        grid-row: 1 / span 4;
        grid-column: 7 / span 2;
    }

    &--4 {
        grid-row: 5 / span 3;
        grid-column: 1 / span 2;
    }

    &--5 {
        grid-row: 5 / span 3;
        grid-column: 5 / -1;
    }

    &--6 {
        grid-row: 5 / -1;
        grid-column: 3 / span 2;
    }

    &:hover{
        transform: scale(1.05); 
        overflow: none;     
        filter: grayscale(0);
    }

}

&__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
}
