<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="css/lightbox.min.css">
    <script src="js/lightbox-plus-jquery.min.js"></script>
    <link rel="shortcut icon" href="img/tooth.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
    <title>Ashok Dental Clinic</title>
</head>
<body>

    <div class="welcome_note">
        <h1  class="welcome_note_heading">JAI GURUDEV</h1>
    </div>

    <div class="header">
        <div class="header_list">
             <!-- <img  class="header_img"/> -->

             <div class="header_details">
                 <svg class="header_icon">
                     <use xlink:href="img/sprite.svg#icon-whatsapp"></use>
                 </svg>
                <div class="header_discription">    
                    <h4 class="header_4">Contact Us</h4>
                    <p class="header_desc">+919554605070, +919452369076</p>
                </div>
            </div>

             <!-- <img class="header_img"/> -->
             <div class="header_details">
                 <svg class="header_icon"><
                     <use xlink:href="img/sprite.svg#icon-location"></use>
                 </svg>
                <div class="header_discription">    
                    <h4 class="header_4">Our Location</h4>
                    <p class="header_desc">Hospital Road Khutahan Bazar, Jaunpur</p>
                </div>
            </div>

             <!-- <img class="header_title_img" class="header_img"/> -->
             <div class="header_details">
                <svg class="header_icon"><
                    <use xlink:href="img/sprite.svg#icon-clock2"></use>
                </svg>
                    <div class="header_discription"> 
                        <h4 class="header_4">Working Hours (Monday Closed)</h4>
                        <p class="header_desc">Tue-Sun 10:00 AM to 05:00 PM</p>
                    </div>
            </div>
        </div>      
    </div>

    <section class="main">
        <div class="main_heading">
            <h2 class="main_heading-2">ASHOK DENTAL CLINIC</h2>
            <p class="main_address">Hospital Road Khutahan Bazar, Jaunpur</p>
        </div>

        <ul class="main_nav">
            <li class="main_nav_item"><a href="/" class="main_nav_link">Home</a></li>
            <li class="main_nav_item"><a href="/service" class="main_nav_link">Service</a></li>
            <li class="main_nav_item"><a href="/gallery" class="main_nav_link">Gallery</a></li>
            <li class="main_nav_item"><a href="#" class="main_nav_link">Contacts</a></li>
        </ul>
    </section>
    
</body>
</html>